<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
	data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">

<head>

	<meta charset="utf-8" />
	<title>Admin Page | TutorBuddy AI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Themesbrand" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">
	<!-- Bootstrap Css -->
	<link href="./static/dist/css/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="./static/dist/css/style/fonts/remixicon.css" rel="stylesheet" type="text/css">
	<link href="./static/dist/css/style/icons.min.css" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="./static/dist/css/style/app.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">
		<header id="page-topbar">
			<div class="layout-width">
				<div class="navbar-header">
					<div class="d-flex">
						<!-- LOGO -->
						<div class="navbar-brand-box horizontal-logo">
							<a href="./admin" class="logo logo-dark">
								<span class="logo-sm">
									<!-- <img src="./static/dist/images/logo-sm.png" alt="" height="22"> -->
									<span style="font-size: 16px; font-weight: bold;">TutorBuddy AI</span>
								</span>
								<span class="logo-lg">
									<!-- <img src="./static/dist/images/logo-dark.png" alt="" height="17"> -->
									<span style="font-size: 20px; font-weight: bold;">TutorBuddy AI</span>
								</span>
							</a>

							<a href="./admin" class="logo logo-light">
								<span class="logo-sm">
									<!-- <img src="./static/dist/images/logo-sm.png" alt="" height="22"> -->
									<span style="font-size: 16px; font-weight: bold; color: white;">TutorBuddy AI</span>
								</span>
								<span class="logo-lg">
									<!-- <img src="./static/dist/images/logo-light.png" alt="" height="17"> -->
									<span style="font-size: 20px; font-weight: bold; color: white;">TutorBuddy AI</span>
								</span>
							</a>
						</div>


						<button type="button"
							class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none"
							id="topnav-hamburger-icon">
							<span class="hamburger-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</button>
						<style>
							#topnav-hamburger-icon {
								display: none;
							}

							@media (max-width: 768px) {
								#topnav-hamburger-icon {
									display: block;
								}
							}
						</style>

					</div>

					<div class="d-flex align-items-center">





						<div class="ms-1 header-item d-none d-sm-flex">
							<button type="button"
								class="btn btn-icon btn-topbar material-shadow-none btn-ghost-secondary rounded-circle"
								data-toggle="fullscreen">
								<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
									<path fill="currentColor"
										d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z" />
								</svg>
							</button>
						</div>

						<div class="dropdown topbar-head-dropdown ms-1 header-item" id="notificationDropdown">
							<button type="button"
								class="btn btn-icon btn-topbar material-shadow-none btn-ghost-secondary rounded-circle"
								id="page-header-notifications-dropdown" data-bs-toggle="dropdown"
								data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
								<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
									<path fill="currentColor"
										d="M19 13.586V10c0-3.217-2.185-5.927-5.145-6.742C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v3.586l-1.707 1.707A.996.996 0 0 0 3 16v2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-2a.996.996 0 0 0-.293-.707zM19 17H5v-.586l1.707-1.707A.996.996 0 0 0 7 14v-4c0-2.757 2.243-5 5-5s5 2.243 5 5v4c0 .266.105.52.293.707L19 16.414zm-7 5a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22" />
								</svg>
							</button>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
								aria-labelledby="page-header-notifications-dropdown">

								<div class="dropdown-head bg-primary bg-pattern rounded-top">
									<div class="p-3">
										<div class="row align-items-center">
											<div class="col">
												<h6 class="m-0 fs-16 fw-semibold text-white"> Notifications </h6>
											</div>
											<div class="col-auto dropdown-tabs">
												<span class="badge bg-light text-body fs-13"> 0 New</span>
											</div>
										</div>
									</div>

									<div class="px-2 pt-2">
										<ul class="nav nav-tabs dropdown-tabs nav-tabs-custom" data-dropdown-tabs="true"
											id="notificationItemsTab" role="tablist">
											<li class="nav-item waves-effect waves-light">
												<a class="nav-link active" data-bs-toggle="tab" href="#all-noti-tab"
													role="tab" aria-selected="true">
													Alerts
												</a>
											</li>
										</ul>
									</div>

								</div>

								<div class="tab-content position-relative" id="notificationItemsTabContent">
									<div class="tab-pane fade show active py-2 ps-2" id="all-noti-tab" role="tabpanel">
										<div data-simplebar style="max-height: 300px;" class="pe-2">
											<div
												class="text-reset notification-item d-block dropdown-item position-relative">
												<div class="d-flex">
													<img src="./static/dist/images/tutorbuddy_welcome.png"
														class="me-3 rounded-circle avatar-xs flex-shrink-0"
														alt="user-pic">
													<div class="flex-grow-1">
														<a href="#!" class="stretched-link">
															<h6 class="mt-0 mb-1 fs-13 fw-semibold">TutorBuddy AI</h6>
														</a>
														<div class="fs-13 text-muted">
															<p class="mb-1">Developed an admin panel for our tutors! ❤️
															</p>
														</div>
														<p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
															<span><i class="ri-time-line"></i>
																July 5, 2024</span>
														</p>
													</div>
													<div class="px-2 fs-15">
														<div class="form-check notification-check">
															<input class="form-check-input" type="checkbox" value=""
																id="all-notification-check02">
															<label class="form-check-label"
																for="all-notification-check02"></label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade p-4" id="alerts-tab" role="tabpanel"
										aria-labelledby="alerts-tab"></div>

									<div class="notification-actions" id="notification-actions">
										<div class="d-flex text-muted justify-content-center">
											Select <div id="select-content" class="text-body fw-semibold px-1">0</div>
											Result <button type="button" class="btn btn-link link-danger p-0 ms-3"
												data-bs-toggle="modal"
												data-bs-target="#removeNotificationModal">Remove</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="dropdown ms-sm-3 header-item topbar-user">
							<button type="button" class="btn material-shadow-none" id="page-header-user-dropdown"
								data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="d-flex align-items-center">
									<img class="rounded-circle header-profile-user"
										src="./static/dist/images/user_chat.png" alt="Header Avatar">
									<span class="text-start ms-xl-2">
										<span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">TutorBuddy</span>
										<span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">AI</span>
									</span>
								</span>
							</button>
							<div class="dropdown-menu dropdown-menu-end">
								<!-- item-->
								<h6 class="dropdown-header">Welcome TutorBuddy!</h6>
								<a class="dropdown-item" href="./"><i class="ri-shield-user-line"></i> <span
										class="align-middle">Profile (coming soon)</span></a>
								<a class="dropdown-item" href="./"><i class="ri-questionnaire-line"></i> <span
										class="align-middle">Help (coming soon)</span></a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="./change_password"><i class="ri-lock-line"></i> <span
										class="align-middle" data-key="change-password">Change password</span></a>
								<a class="dropdown-item" href="./"><i class="ri-logout-box-r-line"></i> <span
										class="align-middle" data-key="t-logout">Logout</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- removeNotificationModal -->
		<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
							id="NotificationModalbtn-close"></button>
					</div>
					<div class="modal-body">
						<div class="mt-2 text-center">
							<lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
								colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
							<div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
								<h4>Are you sure ?</h4>
								<p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
							</div>
						</div>
						<div class="d-flex gap-2 justify-content-center mt-4 mb-2">
							<button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete
								It!</button>
						</div>
					</div>

				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- ========== App Menu ========== -->
		<div class="app-menu navbar-menu">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<!-- Light Logo -->
				<a href="./admin" class="logo logo-light">
					<span class="logo-sm">
						<!-- <img src="./static/dist/images/logo-sm.png" alt="" height="22"> -->
						<span style="font-size: 16px; font-weight: bold; color: white;">TutorBuddy AI</span>
					</span>
					<span class="logo-lg">
						<!-- <img src="./static/dist/images/logo-light.png" alt="" height="17"> -->
						<span style="font-size: 20px; font-weight: bold; color: white;">TutorBuddy AI</span>
					</span>
				</a>
				<button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
					id="vertical-hover">
					<i class="ri-record-circle-line"></i>
				</button>
			</div>


			<div id="scrollbar">
				<div class="container-fluid">
					<div id="two-column-menu">
					</div>
					<ul class="navbar-nav" id="navbar-nav">
						<li class="menu-title"><span data-key="t-menu">Menu</span></li>
						<li class="nav-item">
							<a class="nav-link menu-link" href="./admin" role="button">
								<i class="ri-dashboard-line"></i> Dashboards
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menu-link" href="./dialogs" role="button">
								<i class="ri-chat-4-line"></i> Dialogs
							</a>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>

			<div class="sidebar-background"></div>
		</div>
		<!-- Left Sidebar End -->
		<!-- Vertical Overlay-->
		<div class="vertical-overlay"></div>

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
								<h4 class="mb-sm-0">LMS</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<!-- end page title -->

					<div class="row">
						<div class="col-xl-12">
							<div class="card crm-widget">
								<div class="card-body p-0">
									<div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 g-0">
										<div class="col">
											<div class="py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">active students</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i class="ri-user-line display-6 text-muted cfs-22"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0 cfs-22"><span class="counter-value"
																data-target=""></span></h2>
													</div>
												</div>
											</div>
										</div><!-- end col -->
										<div class="col">
											<div class="mt-3 mt-md-0 py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">Annual Profit</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i
															class="ri-exchange-dollar-line display-6 text-muted cfs-22"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0 cfs-22">$<span class="counter-value"
																data-target=""></span></h2>
													</div>
												</div>
											</div>
										</div><!-- end col -->
										<div class="col">
											<div class="mt-3 mt-md-0 py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">sent messages
												</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i
															class="ri-question-answer-line display-6 text-muted cfs-22"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0 cfs-22"><span class="counter-value"
																data-target=""></span></h2>
													</div>
												</div>
											</div>
										</div><!-- end col -->
										<div class="col">
											<div class="mt-3 mt-lg-0 py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">total mistakes
												</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i
															class="ri-error-warning-line display-6 text-muted cfs-22"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0 cfs-22"><span class="counter-value"
																data-target="">0</span></h2>
													</div>
												</div>
											</div>
										</div><!-- end col -->
										<div class="col">
											<div class="mt-3 mt-lg-0 py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">subscribers</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i class="ri-service-line display-6 text-muted cfs-22"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0 cfs-22"><span class="counter-value"
																data-target="">0</span></h2>
													</div>
												</div>
											</div>
										</div><!-- end col -->
									</div><!-- end row -->
								</div><!-- end card body -->
							</div><!-- end card -->
						</div><!-- end col -->
					</div>

					<div class="row">
						<div class="col-xxl-6">
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">Total topics</h4>
									<div class="flex-shrink-0">
									</div>
								</div><!-- end card header -->
								<div class="card-body pb-0">
									<div id="all-topics-chart"
										data-colors='["--vz-primary", "--vz-success", "--vz-warning"]'
										data-colors-minimal='["--vz-primary-rgb, 0.75", "--vz-primary", "--vz-primary-rgb, 0.55"]'
										data-colors-creative='["--vz-primary", "--vz-secondary", "--vz-info"]'
										data-colors-corporate='["--vz-primary", "--vz-success", "--vz-secondary"]'
										data-colors-galaxy='["--vz-primary", "--vz-secondary", "--vz-info"]'
										data-colors-classic='["--vz-primary", "--vz-warning", "--vz-secondary"]'
										class="apex-charts" dir="ltr"></div>
								</div>
							</div><!-- end card -->
						</div><!-- end col -->

						<div class="col-xxl-6">
							<div class="card card-height-100">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">Balance Overview</h4>
								</div><!-- end card header -->
								<div class="card-body px-0">
									<div id="all-messages-chart" data-colors='["--vz-success", "--vz-danger"]'
										data-colors-minimal='["--vz-primary", "--vz-info"]'
										data-colors-interactive='["--vz-info", "--vz-primary"]'
										data-colors-galaxy='["--vz-primary", "--vz-secondary"]'
										data-colors-classic='["--vz-primary", "--vz-secondary"]' class="apex-charts"
										dir="ltr"></div>
								</div>
							</div><!-- end card -->
						</div><!-- end col -->
					</div><!-- end row -->

				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->

			<footer class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<script>document.write(new Date().getFullYear())</script> © TutorBuddy AI.
						</div>
						<div class="col-sm-6">
							<div class="text-sm-end d-none d-sm-block">
								Design & Develop by TutorBuddy AI
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- end main content-->

	</div>
	<!-- END layout-wrapper -->



	<!--start back-to-top-->
	<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
		<i class="ri-arrow-up-line"></i>
	</button>
	<!--end back-to-top-->

	<!--preloader-->
	<div id="preloader">
		<div id="status">
			<div class="spinner-border text-primary avatar-sm" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>

	<!-- JAVASCRIPT -->
	<script src="./static/dist/js/libs/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="./static/dist/js/libs/simplebar/simplebar.min.js"></script>
	<script src="./static/dist/js/libs/node-waves/waves.min.js"></script>
	<script src="./static/dist/js/libs/feather-icons/feather.min.js"></script>
	<script src="./static/dist/js/pages/plugins/lord-icon-2.1.0.js"></script>

	<!-- apexcharts -->
	<script src="./static/dist/js/libs/apexcharts/apexcharts.min.js"></script>

	<!-- Dashboard init -->
	<script src="./static/dist/js/dashboard-crm-number.js?v=1.0"></script> <!-- NEW -->
	<script src="./static/dist/js/dashboard-crm-chart.js?v=1.0"></script> <!-- NEW -->


	<script src="./static/dist/js/dialog-crm.js?v=1.0"></script>
	<script src="./static/dist/js/profile-crm.js?v=1.0"></script>

	<!-- App js -->
	<script src="./static/dist/js/app.js"></script>
</body>

</html>